
<h1>Тут буде текст або щось важне</h1>


@* <div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" asp-area="Admin" asp-controller="Home" asp-action="Index" id="v-pills-addnewproduct-tab" role="tab" aria-controls="v-pills-addnewproduct" aria-selected="true">Головна</a>
        <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="GetAllProduct" id="v-pills-getallproduct-tab" role="tab" aria-controls="v-pills-getallproduct" aria-selected="false">Весь товар</a>
        <a class="nav-link" asp-area="#" asp-controller="#" asp-action="#" id="v-pills-profile-tab" role="tab" aria-controls="v-pills-profile" aria-selected="false">Користувачі</a>
        <a class="nav-link" asp-area="#" asp-controller="#" asp-action="#" id="v-pills-messages-tab" role="tab" aria-controls="v-pills-messages" aria-selected="false">Графіки</a>
        <a class="nav-link" asp-area="#" asp-controller="#" asp-action="#" id="v-pills-settings-tab" role="tab" aria-controls="v-pills-settings" aria-selected="false">Налаштування</a>
    </div>

</div> *@
