html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}




body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', sans-serif;
}

.content {
    flex: 1;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Невелика тінь для футера */
}
.container-fluid {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.gallery-row {
    display: flex;
    flex-direction: row; /* Розташування елементів у рядок */
    flex-wrap: nowrap; /* Заборона переносу елементів на новий рядок */
    overflow-x: auto; /* Додавання горизонтальної прокрутки */
    justify-content: flex-start; /* Вирівнювання елементів зліва */
}

    .gallery-row img {
        margin-right: 5px; /* Відступ між зображеннями */
    }